@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body,
html {
	height: 100%;
}

.middle {
	width: 100%;
	height: 1000px;
}

.mid {
	width: 983px;
	height: 1000px;
	margin: 0 auto;
}

.mid_top {
	width: 983px;
	height: 121px;
	padding: 10px 0;
}

.mid_top img {
	width: 983px;
	height: 121px;
}

.money {
	width: 943px;
	height: 700px;
	padding: 10px 20px;
	background: white;
}

.money h3 span {
	color: red;
}

/*._commodity {*/
	/*width: 450px;*/
	/*height: 50px;*/
	/*line-height: 50px;*/
	/*text-align: center;*/
/*}*/

/*._price ,._total,._dele{*/
	/*width: 140px;*/
	/*height: 50px;*/
	/*line-height: 50px;*/
	/*text-align: center;*/
/*}*/
/*._commodity,._price ,._total,._dele{*/
	/*float: left;*/
	/*background: lightgray;*/
	/*cursor: pointer;*/
	/*margin-top: 20px;*/
/*}*/




/*.commodity {*/
	/*width: 450px;*/
	/*height:450px;*/
	/*line-height: 50px;*/
	/*text-align: center;*/
/*}*/

/*.price ,.total,.dele{*/
	/*width: 140px;*/
	/*height: 450px;*/
	/*line-height: 50px;*/
	/*text-align: center;*/
/*}*/
/*.commodity,.price ,.total,.dele{*/
	/*float: left;*/
	/*background: white;*/
	/*cursor: pointer;*/
	/*border-bottom: 1px solid darkgray;*/
/*}*/


