@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body,
html {
	height: 100%;
}

.middle {
	width: 100%;
	height: 1000px;
}

.mid {
	width: 983px;
	height: 700px;
	margin: 0 auto;
}

.mid_top {
	width: 983px;
	height: 121px;
	padding: 10px 0;
}

.mid_top img {
	width: 983px;
	height: 121px;
}

.change {
	width: 962px;
	height: 708px;
	padding: 0 10px;
	background: white;
	position: relative;
}

.change_left {
	float: left;
	width: 480px;
	height: 908px;
	position: relative;
}

.change_left h3 {
	line-height: 48px;
	font-size: 12px;
	border-bottom: 1px solid dimgray;
}

#smallImg {
	width: 360px;
	height: 460px;
	/*background: url(../midpic/phone.jpg) center;*/
	background-size: cover;
	position: absolute;
	left: 40px;
	top: 70px;
}

#smallArea {
	display: block;
	width: 150px;
	height: 150px;
	background: rgba(200, 255, 200, 0);
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

#bigArea {
	overflow: hidden;
	width: 300px;
	height: 300px;
	background: rgba(100, 200, 100, 0.3);
	position: absolute;
	left: 450px;
	top: 70px;
	display: none;
}

#bigImg {
	position: absolute;
	left: 0px;
	top: 0;
	width: 720px;
	height: 920px;
}

.show_list {
	width: 400px;
	height: 62px;
	position: absolute;
	left: 0;
	top: 536px;
}

.show_list li {
	float: left;
	width: 59px;
	height: 59px;
	opacity: 0.8;
}

.show_list_ul img{width: 59px;height: 59px;}

.show_list li:first-child {
	border: 1px solid red;
}

.show img {
	width: 58px;
	height: 58px;
}

.change_right {
	width: 418px;
	height: 908px;
	float: left;
	padding-left: 10px;
}

.change_right h3 {
	line-height: 48px;
	font-size: 16px;
	padding-left: 10px;
}

.change_right p {
	width: 430px;
	height: auto;
	font-size: 26px;
	padding: 20px;
	border-bottom: 1px solid gray;
}

.shop_price {
	display: block;
	width: 430px;
	height: auto;
	color: red;
	font-size: 24px;
	margin-top: 10px;
}




.shop_shoping {
	width: 144px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: red;
	cursor: pointer;
	float: left;
	margin-top: 25px;
	
}

.shop_love {
	width: 144px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: red;
	cursor: pointer;
	float: left;
	margin-left: 30px;
	margin-top: 25px;
}

.moveImg{position: absolute;width: 50px;height: 50px;display: block;}

#score span{font-size: 14px;padding-right: 5px;}
#score{padding-top: 15px;}

.house span{font-size: 14px;padding-right: 5px;color: black;}
.house{padding-top: 15px;}
