<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>未付款订单</title>
    <style>
        span{
            margin: 0px;
            padding: 0;
            color: white;

        }
    </style>
</head>
<body>
      <div class="master" style="width: 500px;height: 800px">


              {% for order in orders %}
                  <div style="width: 500px;height: 102px;border: black solid 1px; background: blue;">
                  <a href= " /showorder/?id={{ order.id }} " >
                  <span style="height: 50px;width: 20px;line-height: 50px">{{ forloop.counter }}、</span>
                  <span style="height: 50px;width: 200px;line-height: 50px">订单号：{{ order.identifier }}</span>
                  <br>
                  <span style="height:50px;width: 160px;margin: 0 0 0 160px;line-height: 50px">未付款</span>
                  </a>
                  </div>

              {% endfor %}


      </div>

</body>
</html>