<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
            form {
                margin: 0;
                padding: 0;
            }
    </style>
    <link href="/static/css/head.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/shop.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="/static/lib/jquery.raty.css">
    <link href="/static/css/jquery.idcode.css" type="text/css" rel="stylesheet">
    <style>
        img {
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: black;
        }
    </style>
    <script src="/static/js/jquery-1.12.0.js"></script>
    <script src="/static/js/jquery-1.12.3.js"></script>
    <script src="/static/js/jquery-1.12.3.min.js"></script>

    <!--<script src="js/jquery.cookie.js"></script>-->
    <script type="text/javascript" src="/static/js/toubu.js"></script>
    <script type="text/javascript" src="/static/js/shop.js"></script>

    <script type="text/javascript" src="/static/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/jquery.raty.js"></script>
    <script src="/static/js/jquery.idcode.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/register.js"></script>
    <script type="text/javascript">
        $.fn.raty.defaults.path = '/static/lib/images';
        $(function () {
            $('#score').raty({
                score: 3, //初始化设置分数
                click: function (score) { //点击触发
                    console.log(score);
                }
            });
        })
    </script>

    {% if isture == '1' %}
        <script>
            $(function () {
                $(".loading").css({"display": "block"})
                console.log(typeof ({{ isture }}))
            })
        </script>
    {% endif %}

</head>

<body>
<!--头部开始 -->
<div id="head">
    <div class="header">
        <img class="simple" src="/static/headimg/hongqi.jpg"/>
        <div class="h_left">
            <ul>
                <li>
                    <a href="{% url 'app:index' 0 %}"><img src="/static/headimg/logo.jpg" style="width: 90px;height: 50px;"/></a>
                </li>
                <li>
                    <a href="#">每日上新</a>
                </li>
                <li>
                    <a href="#">TOP50</a>
                </li>
                <li>
                    <a href="#">我勒个趣</a>
                </li>
                <li>
                    <a href="#">全球FUN</a>
                </li>
                <li>
                    <a href="#">趣味App</a>
                </li>
            </ul>
        </div>

        <div class="h_right">
            <input class="tet" type="text"/>
            <div class="search" style="background: url(/static/headimg/serrch.jpg) center;">

            </div>

            {% if get_user %}
                <div class="load" style="font-size: 100%">{{ get_user.username }}</div>
                <div><a href='{% url 'app:out' %}' style="width: 55px;
	height: 50px;
	float: left;
	background: #535353;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 14px;">退出</a>
                </div>
            {% else %}
                <div class="load">登录</div>
                <div class="cookie">注册</div>
            {% endif %}

            <div class="shoping"><a href='{% url 'app:cart' %}'>购物车</a></div>

        </div>
    </div>
</div>

<!--load -->
<div class="loading">

    <div class="_load">
        <div class="load_top">
            登录趣玩
            <input type="button" value="关闭" class="load_close"/>
        </div>

        <div class="_add_pic">
            <img src="/static/midpic/qq.jpg"/>
            <img src="/static/midpic/persn.jpg"/>
            <img src="/static/midpic/weibo.jpg"/>
        </div>

        <div class="load_user">
            <h4>通过趣玩帐号登录</h4>
           <form  action={% url 'app:login' %} method="post">
                {% csrf_token %}

                帐号&nbsp;<input type="text" class="load_user_text" name="email"/>
                密码&nbsp;<input type="password" class="load_user_paw" name="password"/>

                <input type="submit" value="登录"/>
                {# 密码或用户名错误判断是否冒红#}
                {% if isture == '1'%}<p style="color: red">1.密码或用户名错误<br>2.或者请登录后再操作</p>{% endif %}



                {#					<input type="button" value="快速注册" class="load_new"/>#}

            </form>
        </div>

    </div>

</div>

<!--cookie -->
<div class="add">

    <div class="_add">
        <div class="add_top">
            注册趣玩
            <input type="button" value="关闭" class="add_close"/>
        </div>
        <div class="add_user">
            <h4>注册趣玩帐号</h4>
            <form action={% url 'app:regist' %}  method="post">
                {% csrf_token %}
{#                帐号&nbsp;#}
                <input type="text" placeholder="邮箱" class="add_user_text" name="email"/>
                      <span id ='help1'></span>
{#                昵称#}
                <input type="text" class="add_user_use" name="username" placeholder="名字"/>
                <span id ='help2'>长度为3~10</span>

{#                密码&nbsp;#}
                <input type="password" class="add_user_paw" name="password" placeholder="密码"/>
                <span id ='help3'>长度为6~12，且只能为数字、字母、下划线</span>

{#                验证码&nbsp;#}
{#                <input type="text" id="Txtidcode" class="txtVerification" placeholder="验证码"><span id="idcode"></span>#}

                    <input type="submit" value="注册" class="add_new" disabled="disabled"/>

            </form>
        </div>

    </div>

</div>

<div class="nava">
    <div class="nav">
        <ul class="nav_list">
            <li>家居日用
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>
                        <li>孕妇.母婴</li>
                        <li>购物车.购物袋</li>
                        <li>计量用品</li>
                        <li>家具</li>
                        <li>乐器</li>
                    </ul>

                </div>
            </li>

            <li>装饰摆设
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>
            </li>
            <li>厨房餐饮
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>

            </li>
            <li>卫浴清洁
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>
            </li>
            <li>办公文具
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>
            </li>
            <li>旅游出行
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>
            </li>
            <li>运动户外
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>
            </li>
            <li>玩具娱乐
                <div class="active">
                    <ul class="active_show">
                        <li>保暖</li>
                        <li>抱枕.靠垫.坐垫</li>
                        <li>宠物用品</li>
                        <li>床上用品</li>
                        <li>打火器.电子烟</li>
                        <li>灯光照明</li>

                    </ul>
                </div>
            </li>
            <li>数码3C</li>
            <li>智能科技</li>
            <li>潮流装扮</li>
            <li>美容健康</li>
            <li>安全防灾</li>
            <li>食品饮料</li>
            <li>视屏找好玩</li>
        </ul>
    </div>

</div>
<!--头部结束 -->

<!--商品详情 -->
<div class="middle">
    <div class="mid">
        <div class="mid_top">
            <a href="#"><img src="/static/midpic/shop1.jpeg"></a>
        </div>

        <div class="change">
            <div class="change_left">
                <h3>首页/数码3c/数码配件/{{ good.instr }}</h3>
                <div id="smallImg" style="background: url({{ good.path }})">

                    <div id="smallArea"></div>
                </div>
                <div class="show_list">
                    <ul class="show_list_ul">
                        <!--<li><img src="midpic/show1.jpg"></li>
                        <li><img src="midpic/show2.jpg"></li>-->
                        <li><img src="{{ good.path_1 }}"></li>
                        <li><img src="{{ good.path_2 }}"></li>

                    </ul>
                </div>

            </div>

            <div id="bigArea">
                <img id="bigImg" src={{ good.path }}/>
            </div>

            <div class="change_right">
                <h3>分享商品邀请好友，赢取现金奖励</h3>
                <p class="shop_explain">{{ good.instr }}
                </p></br>
                <span class="shop_price">￥{{ good.price }}</span>
                <div class="shop_single" style="display: none;"></div>
                <div id="score"><span>评分</span></div>
                <div class="house"><span>库存{{ good.store }}</span></div>

                <div class="shop_shoping" id="{{good.instr}}">
                    加入购物车
                </div>
                <div class="shop_love">
                    <a href="money.html">结算</a>
                </div>
            </div>

        </div>
    </div>

</div>

<!--商品详情-END -->

<!--foot -->
<div class="footer">

    <div class="foot">
        <div class="foot_top">
            <a href="#"><img src="/static/headimg/footer_01.png"/></a>
            <a href="#"><img src="/static/headimg/footer_02.png"/></a>
            <a href="#"><img src="/static/headimg/footer_03.png"/></a>
            <a href="#"><img src="/static/headimg/footer_04.png"/></a>
            <a href="#"><img src="/static/headimg/footer_05.png"/></a>
            <a href="#"><img src="/static/headimg/footer_06.png"/></a>
            <a href="#"><img src="/static/headimg/footer_07.png"/></a>
            <a href="#"><img src="/static/headimg/footer_08.png"/></a>

        </div>
        <div class="foot_bot">

            <ul>
                <li>
                    <a href="#">积分计划</a>
                </li>
                <li>
                    <a href="#">优惠卡/礼品卡</a>
                </li>
                <li>
                    <a href="#">商品兑换券</a>
                </li>
                <li>
                    <a href="#">发票制度</a>
                </li>
                <li>
                    <a href="#">配送说明</a>
                </li>
                <li>
                    <a href="#">退货保障卡</a>
                </li>
                <li>
                    <a href="#">趣玩B2B官网</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bot">
        <div class="bot_top">
            <ul>
                <li>
                    <a href="#">关于我们</a>
                </li>
                <li>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <a href="#">友情链接</a>
                </li>
                <li>
                    <a href="#">经销加盟</a>
                </li>
                <li>
                    <a href="#">团购优惠</a>
                </li>
                <li>
                    <a href="#">网站地图</a>
                </li>
                <li>
                    <a href="#">加入趣玩</a>
                </li>
                <li>
                    <a href="#">诚信网站</a>
                </li>
            </ul>
        </div>

        <div class="bot_bot">
            <p>趣玩网 2008-2016 成都玩者天下网络技术有限公司 版权所有 蜀ICP备14003947丨京ICP证100388号</p>
        </div>
    </div>

</div>
</body>

</html>